<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">user_authentication</a>
    </div>
  </nav>
  <form action="/index" novalidate>
    <div class="form-goup">
      <label for="email">Email:</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="請輸入Email...
  " required>
      <div class="invalid-feedback">
        This field is required.
      </div>
    </div>
    <form action="/index" novalidate>
      <div class="form-goup">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="請輸入密碼..." required>
        <div class="invalid-feedback">
          This field is required.
        </div>
      </div>
      <button id="submit-btn" type="submit" class="btn btn-primary">登入</button>
    </form>
  </form>
</div>